// COLORS

$black: #050505;
$orange: #ff6d00;
$orangeHover: #ff8a33;
$white: #fbfbf9;
$grey: #4E4E4E;

// FONTS

$mainTitleFont: 'Peace sans', sans-serif;
$titleFont: 'BundaySans', sans-serif;
$bodyFont: 'Lato', sans-serif;

$bodySize: 1.25em;
$titleSize: $bodySize * 2;
$mainTitleSize: $titleSize * 1.66;
$smallSize: $bodySize * 0.6;

