.hide
{
  display: none;
}

.active
{
  display: inline-block !important;
}

/****************************

Time-line

*****************************/
.time_line_container
{
  position: fixed;
  left: 0px;
  bottom: 35px;
  z-index: 100;
  width: 100%;
}

.time-line
{
  height: 5px;
  width: 100%;
  position: relative;
  background: #888888;
}

.time-line-color
{
  height: 100%;
  width: 100%;
  background: #ff6d00;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.chapter
{
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -150%;
  z-index: 1;

  border-radius: 100%;
  background: #444444;
  cursor: pointer;

  transform-origin: center center;
  transition: transform 0.3s, background 0.3s;
}

.chapter:hover
{
  transform: scale(1.5);
}

.chapter-title
{
  position: absolute;
  bottom: -600%;
  color: #ff6d00;
  transform: translateX(-50%);
}

.ch1{ left: 14.5%;}
.ch2{ left: 29%;}
.ch3{ left: 43.5%;}
.ch4{ left: 58%;}
.ch5{ left: 72.5%;}

.border
{
  border: 2px solid #000 !important;
  transform: scale(1.5);
}
